/* Custom variables */
:root {
  --primary-color: #1dd46a;
  --light-color: #eafef1;
  --dark-color: #03160b;
  --white-color: #ffffff;
  --black-color: #000000;

  /* fonts */
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Kalam", cursive;

  /* transitions */
  --trans-3s: all 0.3s ease;
  --trans-5s: all 0.5s ease;
  --trans-7s: all 0.7s ease;

  /* Spacing */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 1rem; /* 16px */
  --spacing-4: 1.5rem; /* 24px */
  --spacing-5: 3rem; /* 48px */
}

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  background-color: var(--dark-color);
}

.title {
  color: var(--light-color);
  text-align: center;
  margin: var(--spacing-5) 0;
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 145.2px);
}

.container {
  background-color: var(--light-color);
  min-width: 350px;
  max-width: 500px;
  width: 50%;
  min-height: 100px;
  border-radius: 20px;
  margin: var(--spacing-1);
  position: relative;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.quote-picture {
  position: relative;
  bottom: 6px;
  width: 100px;
}

.quote-message {
  color: var(--dark-color);
  position: relative;
  padding: 0 var(--spacing-4);
  font-family: var(--secondary-font);
  font-size: 20px;
  transition: var(--trans-5s);
  margin-bottom: var(--spacing-3);
}

.author-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.author-container > span {
  min-width: 75px;
  width: fit-content;
  background-color: var(--dark-color);
  height: 3px;
  margin-inline: var(--spacing-1);
  border-radius: 50%;
}

.author-container .author {
  text-align: center;
}

.refresh-button {
  background-color: var(--primary-color);
  position: relative;
  justify-self: flex-start;
  bottom: -30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  padding: var(--spacing-3);
  border-radius: 50%;
  cursor: pointer;
}

.refresh-button .refresh-icon {
  font-size: 32px;
  color: var(--dark-color);
  transition: var(--trans-3s);
}

.refresh-button:hover .refresh-icon {
  color: var(--light-color);
}

/* Loading animation */
.blink {
  animation: blink 2.5s ease 0s infinite normal forwards;
}

.spin {
  animation: spin 1s ease 0s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.3;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
